@{
    ViewData["Title"] = "Haberler ve Duyurular";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section inner-banner-section bg-overlay-black bg_img"
         data-background="~/flynext/assets/images/bg/inner-bg.png">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-12 text-center">
                <div class="banner-content">
                    <h1 class="title">Duyurular</h1>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Ana Sayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Duyurular</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <i class="las la-dot-circle"></i>
    <span>Top</span>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Blog
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="blog-section blog-classic blog-details ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-8 col-lg-8 mb-30">
                <div class="row justify-content-center mb-30-none">
                    <div class="col-xl-12 mb-30">
                        <div class="blog-item">
                            <div class="blog-thumb">
                                <img src="~/flynext/assets/images/blog/big-blog-4.png" alt="blog">
                            </div>
                            <div class="blog-content">
                                <span class="sub-title">PAZARLAMA</span>
                                <h3 class="title">
                                    Amerika'ya en konfrolu uçuş dememizin bir sebebi var
                                </h3>
                                <p>
                                    İlk küçük jet motorlu sivil uçak, 1950'lerin başında MS.755 Fleuret iki kişilik jet eğitim uçağından özel olarak geliştirilen Morane-Saulnier MS.760 Paris'ti. İlk uçuşu 1954'te yapılan MS.760 Paris, hafif bir uçağa benzer şekilde, bir savaşçı uçağına benzer büyük bir kayar kanopinin altında, orta koridoru olmayan iki sıra halinde düzenlenmiş sadece dört koltuğa sahip olması bakımından sonraki iş jetlerinden farklıdır. 
                                    Temmuz 1958'de bir ABD tip sertifikası verildi, ancak ticari satışlar sınırlıydı.
                                </p>
                                <ul class="blog-list">
                                    <li>Ücretsiz Instagram Logosunu İndirin</li>
                                    <li>Instagram Logosundan Illustrator 9 Vektör svg vektör koleksiyonu</li>
                                    <li>Vektörler SVG vektör çizim grafik sanat tasarım formatı.</li>
                                    <li>Aşağıdaki vektörler bu vektörle aynı pakettendir</li>
                                    <li>Instagram Logo SVG Vektörü Sosyal Web Sitelerinin bir parçasıdır</li>
                                </ul>
                                <p>
                                    İlk küçük jet motorlu sivil uçak, 1950'lerin başında MS.755 Fleuret iki kişilik jet eğitim uçağından özel olarak geliştirilen Morane-Saulnier MS.760 Paris'ti. İlk uçuşu 1954'te yapılan MS.760 Paris, sonraki iş jetlerinden farklı olarak ortada koridor 
                                    olmadan iki sıra halinde düzenlenmiş sadece dört koltuğa sahiptir.
                                </p>
                                <div class="blog-widget-thumb-area">
                                    <div class="row justify-content-center mb-20-none">
                                        <div class="col-xl-6 col-lg-6 col-md-6 mb-20">
                                            <div class="blog-widget-thumb">
                                                <img src="~/flynext/assets/images/blog/blog-widget-1.png" alt="blog">
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6 mb-20">
                                            <div class="blog-widget-thumb">
                                                <img src="~/flynext/assets/images/blog/blog-widget-2.png" alt="blog">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <blockquote>
                                    <div class="quote-area d-flex flex-wrap">
                                        <div class="quote-icon">
                                            <i class="icon-Producing_Icone"></i>
                                        </div>
                                        <div class="quote-content-area">
                                            <p class="quote-content">
                                                Fikir Üretmek Ekonomiyi Büyütmenin Ana Yoludur Evde Kalan Ebeveynler İçin Hayat Sigortası
                                            </p>
                                            <span>JHON SMITH</span>
                                        </div>
                                    </div>
                                </blockquote>
                                <p>
                                    İlk küçük jet motorlu sivil uçak, 1950'lerin başında MS.755 Fleuret iki kişilik jet eğitim uçağından özel olarak geliştirilen Morane-Saulnier MS.760 Paris'ti. İlk uçuşu 1954'te yapılan MS.760 Paris, 
                                    sonraki iş jetlerinden farklı olarak ortada koridor olmadan iki sıra halinde düzenlenmiş sadece dört koltuğa sahiptir.
                                </p>
                                <div class="blog-tag-wrapper">
                                    <span>Etiketler:</span>
                                    <ul class="blog-footer-tag">
                                        <li><a href="#0">Galeri</a></li>
                                        <li><a href="#0">Tema</a></li>
                                    </ul>
                                </div>
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item prev">
                                            <a class="page-link" href="#" rel="prev"
                                               aria-label="Prev &raquo;">
                                                <i class="icon-arrow-right-01 mr-2"></i> Önceki Gönderi
                                            </a>
                                        </li>
                                        <li class="page-item tags">
                                            <a class="page-link" href="blog.html">
                                                <i class="icon-Tags_menu"></i>
                                            </a>
                                        </li>
                                        <li class="page-item next">
                                            <a class="page-link" href="#" rel="next"
                                               aria-label="Next &raquo;">
                                                Sonraki Gönderi <i class="icon-Group-2361 ml-2"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="blog-related-area">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="blog-section-header">
                                                <div class="section-header">
                                                    <h3 class="section-title">Popüler İlgili Gönderiler</h3>
                                                </div>
                                                <div class="slider-nav-area">
                                                    <div class="slider-prev">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </div>
                                                    <div class="slider-next">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-xl-12">
                                            <div class="blog-slider-area">
                                                <div class="blog-slider">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="blog-item">
                                                                <div class="blog-thumb">
                                                                    <img src="~/flynext/assets/images/blog/blog-3.png"
                                                                         alt="blog">
                                                                </div>
                                                                <div class="blog-content">
                                                                    <div class="blog-post-meta">
                                                                        <span class="date">20 Mart 2022</span>
                                                                        <span class="comment">3 Yorum</span>
                                                                    </div>
                                                                    <h3 class="title">
                                                                        <a href="blog-details.html">
                                                                           Amerika'ya en konforlu ve hesaplı uçuş
                                                                        </a>
                                                                    </h3>
                                                                    <p>
                                                                        Seçebileceğiniz çok sayıda popüler özel uçakla,özel jet kiralama ile seyahat etmek en verimli yoldur.
                                                                    </p>
                                                                    <div class="blog-btn">
                                                                        <a href="blog-details.html">
                                                                            Daha Fazlasını Oku <i class="icon-Group-2361 ml-2"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="blog-item">
                                                                <div class="blog-thumb">
                                                                    <img src="~/flynext/assets/images/blog/blog-2.png"
                                                                         alt="blog">
                                                                </div>
                                                                <div class="blog-content">
                                                                    <div class="blog-post-meta">
                                                                        <span class="date">23 Haziran 2022</span>
                                                                        <span class="comment">4 Yorum</span>
                                                                    </div>
                                                                    <h3 class="title">
                                                                        <a href="blog-details.html">
                                                                            Dünyayı kolaylıkla ve şeffaflıkla keşfedin
                                                                        </a>
                                                                    </h3>
                                                                    <p>
                                                                        Eğlence amaçlı özel jet kiralamak kendinize,ailenize ve arkadaşlarınıza lüks,konforlu ve mahremiyet içinde seyahat 
                                                                    </p>
                                                                    <div class="blog-btn">
                                                                        <a href="blog-details.html">
                                                                            Daha Fazlasını Oku <i class="icon-Group-2361 ml-2"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-comment-area">
                                    <h3 class="title">Yorum Bırakın</h3>
                                    <p>
                                        E-posta adresiniz yayınlanmayacak. Gerekli alanlar * ile işaretlenmiştir
                                    </p>
                                    <form class="comment-form">
                                        <div class="row justify-content-center mb-20-none">
                                            <div class="col-xl-6 col-lg-6 form-group">
                                                <input type="text" name="name" class="form--control"
                                                       placeholder="Adınız*">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 form-group">
                                                <input type="email" name="email" class="form--control"
                                                       placeholder="E-Postanız*">
                                            </div>
                                            <div class="col-lg-12 form-group">
                                                <textarea class="form--control"
                                                          placeholder="Mesaj Yaz*"></textarea>
                                            </div>
                                            <div class="col-lg-12 form-group">
                                                <button type="submit" class="btn--base mt-10">
                                                    Şimdi Gönder <i class="icon-Group-2361 ml-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="sidebar">
                    <div class="widget-box mb-30">
                        <h4 class="widget-title">Son Yazılar</h4>
                        <div class="popular-widget-box">
                            <div class="single-popular-item d-flex flex-wrap align-items-center">
                                <div class="popular-item-thumb">
                                    <img src="~/flynext/assets/images/blog/small-blog-1.png" alt="blog">
                                </div>
                                <div class="popular-item-content">
                                    <span class="blog-date">23 ağustos 2021</span>
                                    <h5 class="title">
                                        <a href="blog-details.html">
                                            Amerika'ya en konforlu uçuş
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div class="single-popular-item d-flex flex-wrap align-items-center">
                                <div class="popular-item-thumb">
                                    <img src="~/flynext/assets/images/blog/small-blog-2.png" alt="blog">
                                </div>
                                <div class="popular-item-content">
                                    <span class="blog-date">23 Ağustos 2021</span>
                                    <h5 class="title">
                                        <a href="blog-details.html">
                                            Teknolojimiz sürekli olarak şunları sunar
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div class="single-popular-item d-flex flex-wrap align-items-center">
                                <div class="popular-item-thumb">
                                    <img src="~/flynext/assets/images/blog/small-blog-3.png" alt="blog">
                                </div>
                                <div class="popular-item-content">
                                    <span class="blog-date">23 Ağustos 2021</span>
                                    <h5 class="title">
                                        <a href="blog-details.html">
                                            Dünyayı kolaylıkla ve şeffaflıkla arayın
                                        </a>
                                    </h5>
                                </div>
                            </div>
                            <div class="single-popular-item d-flex flex-wrap align-items-center">
                                <div class="popular-item-thumb">
                                    <img src="~/flynext/assets/images/blog/small-blog-4.png" alt="blog">
                                </div>
                                <div class="popular-item-content">
                                    <span class="blog-date">23 Ağustos 2021</span>
                                    <h5 class="title">
                                        <a href="blog-details.html">
                                            Yoğun havaalanları ve güvenlik kuyrukları arasında dinlenmiş bir yolculuk yapın.
                                        </a>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-box mb-30">
                        <h4 class="widget-title">Kategoriler</h4>
                        <div class="category-widget-box">
                            <ul class="category-list">
                                <li>
                                    <a href="#0">
                                        <i class="fas fa-chevron-right"></i> İş Analizi
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fas fa-chevron-right"></i> İş Stratejisi
                                        <span>5</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fas fa-chevron-right"></i> Hisse Senedi Yatırımı
                                        <span>1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fas fa-chevron-right"></i> İş Analizi
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fas fa-chevron-right"></i> İş Analizi
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <i class="fas fa-chevron-right"></i> İş Analizi
                                        <span>4</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-box">
                        <h4 class="widget-title">Etiketler</h4>
                        <div class="tag-widget-box">
                            <ul class="tag-list">
                                <li><a href="#0">Havalimanı</a></li>
                                <li><a href="#0">Özel Jet</a></li>
                                <li><a href="#0">Helikopter</a></li>
                                <li><a href="#0">Galeri</a></li>
                                <li><a href="#0">Kurumsal</a></li>
                                <li><a href="#0">İşletme</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Blog
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

