@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<section class="banner-section inner-banner-section bg-overlay-black bg_img" data-background="@Url.Content("~/flynext/assets/images/bg/inner-bg.png")" style="background-image: url('@Url.Content("~/flynext/assets/images/bg/inner-bg.png")');"> <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-12 text-center">
                        <div class="banner-content">
                            <h1 class="title">Bize Ulaşın</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><<a asp-controller="Flight" asp-action="Flight">Anasayfa</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Bize Ulaşın</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<section class="contact-section ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="map-area">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3070.1899657893728!2d90.42380431666383!3d23.779746865573756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7499f257eab%3A0xe6b4b9eacea70f4a!2sManama+Tower!5e0!3m2!1sen!2sbd!4v1561542597668!5m2!1sen!2sbd"
                        style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="contact-widget">
                    <div class="contact-form-header">
                        <span class="sub-title">Lüks Charter Hizmetleri</span>
                        <h2 class="title">Bizimle Nasıl İletişime Geçebilirsiniz?</h2>
                        <p>İlk küçük jet motorlu sivil uçak, 1950'lerin başında özel olarak geliştirilen Morane-Saulnier MS.760 Paris modelidir.</p>
                    </div>
                    <ul class="contact-item-list">
                        <li>
                            <a href="#0">
                                <div class="contact-item-icon">
                                    <i class="icon-location-icon"></i>
                                </div>
                                <div class="contact-item-content">
                                    <h4 class="title">Adresimiz</h4>
                                    <p>963 Heloe Ua-Torrento, CA 95448</p>
                                    <p class="text--base font-weight-bold">Bizi Google Haritalarda Bulun <span class="ml-1"><img src="assets/images/element/element-20.png" alt="element"></span></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <div class="contact-item-icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="contact-item-content">
                                    <h4 class="title">Telefon Numaramız</h4>
                                    <p>+1 814 929 4263</p>
                                    <span class="sub-title">+1 814 929 4264</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <div class="contact-item-icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="contact-item-content">
                                    <h4 class="title">E-Posta Adresimiz</h4>
                                    <p>contact@flynext.com</p>
                                    <p>contact01@flynext.com</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
