@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section inner-banner-section bg-overlay-black bg_img"
         data-background="assets/images/bg/inner-bg.png">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-12 text-center">
                <div class="banner-content">
                    <h1 class="title">Geri Bildirim</h1>
                    <div class="breadcrumb-area">
                        <nav aria-label="bcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Ana Sayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Geri Bildirim</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <i class="las la-dot-circle"></i>
    <span>Üst</span>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Blog
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="blog-section blog-classic ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-8 col-lg-8 mb-30">
                <div class="row justify-content-center mb-30-none">
                    <div class="col-xl-12 mb-30">
                        <div class="blog-item">
                            <div class="blog-thumb">
                                <img src="~/flynext/assets/images/blog/big-blog-1.png" alt="blog">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta-wrapper">
                                    <div class="blog-post-meta">
                                        <span class="date">By: Mr Kari</span>
                                        <span class="date">31 Mart 2021</span>
                                        <span class="comment">3 Yorum</span>
                                    </div>
                                    <ul class="blog-social">
                                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <h3 class="title">
                                    <a href="blog-details.html">
                                        Amerika'ya en konforlu uçuş dememizin bir sebebi var.
                                    </a>
                                </h3>
                                <p>
                                    Teknolojimiz, charter'lar için sürekli olarak en iyi fiyatlandırmayı ve tek tek koltuk satın alma olanağını sunar. Dünyayı kolaylıkla ve şeffaf bir şekilde arayın.
                                    Teknolojiye dayalı tek özel havacılık şirketi olarak FlyZone, satın alma ve uçma konusunda size yenilikçi yollar sunabilir.
                                </p>
                                <div class="blog-btn">
                                    <a href="blog-details.html" class="btn--base">
                                        Daha Fazlasını Oku <i class="icon-Group-2361 ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 mb-30">
                        <div class="blog-item">
                            <div class="blog-thumb">
                                <img src="~/flynext/assets/images/blog/big-blog-2.png" alt="blog">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta-wrapper">
                                    <div class="blog-post-meta">
                                        <span class="date">By: Mr Vela</span>
                                        <span class="date">30 Haziran 2021</span>
                                        <span class="comment">2 Yorum</span>
                                    </div>
                                    <ul class="blog-social">
                                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <h3 class="title">
                                    <a href="blog-details.html">
                                       Uçak pilotları, işlerinin bir parçası olarak birçok farklı yere uçmanın yanı sıra, uçak biletlerinde de büyük indirimler elde ediyor
                                    </a>
                                </h3>
                                <p>
                                    FlyZone sadece özel jet hizmeti değildir. İster iş ister eğlence amaçlı seyahat ediyor olun, 
                                    FlyZone Üyeliği aynı zamanda yolculuğu zenginleştiren ve genişleten benzersiz deneyimlere, ayrıcalıklı olanaklara ve yaşam tarzı hizmetlerine içeriden erişim sağlar.
                                </p>
                                <div class="blog-btn">
                                    <a href="blog-details.html" class="btn--base">
                                        Daha Fazlasını Oku <i class="icon-Group-2361 ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 mb-30">
                        <div class="blog-item">
                            <div class="blog-thumb">
                                <img src="~/flynext/assets/images/blog/big-blog-3.png" alt="blog">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta-wrapper">
                                    <div class="blog-post-meta">
                                        <span class="date">By: Mark Toe</span>
                                        <span class="date">28 Haziran 2022</span>
                                        <span class="comment">6 Yorum</span>
                                    </div>
                                    <ul class="blog-social">
                                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
                                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <h3 class="title">
                                    <a href="blog-details.html">
                                        İlk küçük jet motorlu sivil uçak 1950'lerin başında özel olarak geliştirilen Morane-Saulnier MS 760 Paris'ti.
                                    </a>
                                </h3>
                                <p>
                                    Tüm jeti kiralayın veya ihtiyacınız olmayan koltukları uygulamamız üzerinden sunun. 
                                    Her iki durumda da, artık tam veya kesirli jet sahipliğine veya katı, iade edilemeyen jet kartlarına gerek yok.
                                </p>
                                <div class="blog-btn">
                                    <a href="blog-details.html" class="btn--base">
                                        Daha Fazlasını Oku <i class="icon-Group-2361 ml-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 mb-30">
                <div class="sidebar">
                    <div class="widget-box mb-30">
                        <h4 class="widget-title">Arama Yapın</h4>
                        <div class="search-widget-box">
                            <form class="search-form">
                                <input type="text" name="search" class="form--control" placeholder="Ara">
                                <button type="submit"><i class="las la-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <h4 class="widget-title">Son Yazılar</h4>
                    <div class="popular-widget-box">
                        <div class="single-popular-item d-flex flex-wrap align-items-center">
                            <div class="popular-item-thumb">
                                <img src="~/flynext/assets/images/blog/small-blog-1.png" alt="blog">
                            </div>
                            <div class="popular-item-content">
                                <span class="blog-date">23 ağustos 2021</span>
                                <h5 class="title">
                                    <a href="blog-details.html">
                                        Amerika'ya en konforlu uçuş
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="single-popular-item d-flex flex-wrap align-items-center">
                            <div class="popular-item-thumb">
                                <img src="~/flynext/assets/images/blog/small-blog-2.png" alt="blog">
                            </div>
                            <div class="popular-item-content">
                                <span class="blog-date">23 Ağustos 2021</span>
                                <h5 class="title">
                                    <a href="blog-details.html">
                                        Teknolojimiz sürekli olarak şunları sunar
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="single-popular-item d-flex flex-wrap align-items-center">
                            <div class="popular-item-thumb">
                                <img src="~/flynext/assets/images/blog/small-blog-3.png" alt="blog">
                            </div>
                            <div class="popular-item-content">
                                <span class="blog-date">23 Ağustos 2021</span>
                                <h5 class="title">
                                    <a href="blog-details.html">
                                        Dünyayı kolaylıkla ve şeffaflıkla arayın
                                    </a>
                                </h5>
                            </div>
                        </div>
                        <div class="single-popular-item d-flex flex-wrap align-items-center">
                            <div class="popular-item-thumb">
                                <img src="~/flynext/assets/images/blog/small-blog-4.png" alt="blog">
                            </div>
                            <div class="popular-item-content">
                                <span class="blog-date">23 Ağustos 2021</span>
                                <h5 class="title">
                                    <a href="blog-details.html">
                                        Yoğun havaalanları ve güvenlik kuyrukları arasında dinlenmiş bir yolculuk yapın.
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box mb-30">
                    <h4 class="widget-title">Kategoriler</h4>
                    <div class="category-widget-box">
                        <ul class="category-list">
                            <li>
                                <a href="#0">
                                    <i class="fas fa-chevron-right"></i> İş Analizi
                                    <span>4</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fas fa-chevron-right"></i> İş Stratejisi
                                    <span>5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fas fa-chevron-right"></i> Hisse Senedi Yatırımı
                                    <span>1</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fas fa-chevron-right"></i> İş Analizi
                                    <span>4</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fas fa-chevron-right"></i> İş Analizi
                                    <span>4</span>
                                </a>
                            </li>
                            <li>
                                <a href="#0">
                                    <i class="fas fa-chevron-right"></i> İş Analizi
                                    <span>4</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget-box">
                    <h4 class="widget-title">Etiketler</h4>
                    <div class="tag-widget-box">
                        <ul class="tag-list">
                            <li><a href="#0">Havalimanı</a></li>
                            <li><a href="#0">Özel Jet</a></li>
                            <li><a href="#0">Helikopter</a></li>
                            <li><a href="#0">Galeri</a></li>
                            <li><a href="#0">Kurumsal</a></li>
                            <li><a href="#0">İşletme</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
   
        <nav>
            <ul class="pagination">
                <li class="page-item prev">
                    <a class="page-link" href="#" rel="prev" aria-label="Prev &raquo;">Önceki</a>
                </li>
                <li class="page-item active" aria-current="page"><span class="page-link">01</span></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link" href="#">04</a></li>
                <li class="page-item"><a class="page-link" href="#">05</a></li>
                <li class="page-item next">
                    <a class="page-link" href="#" rel="next" aria-label="Next &raquo;">Sonraki</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Blog
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
