<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>FlyZone</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/logo1.png" />
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--Custom CSS-->
    <link href="css/flight.css" rel="stylesheet" type="text/css" />
    <!--Flaticons CSS-->
    <link href="font/flaticon.css" rel="stylesheet" type="text/css" />
    <!--Plugin CSS-->
    <link href="css/plugin.css" rel="stylesheet" type="text/css" />
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body class="flight-inner">
    <!-- Yükleyici -->
    <div id="preloader">
      <div id="status"></div>
    </div>
    <!-- Yükleyici Sonu -->

    <!-- Üst Bilgi -->
    <header>
      <div class="upper-head clearfix">
        <div class="container">
          <div class="contact-info">
            <p><i class="flaticon-phone-call"></i> Telefon Numaramız: 0555 555 55 55</p>
            <p><i class="flaticon-mail"></i> E-posta: <a href="../../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="27534852554953554651424b67534254534a464e4b0944484a">[email&#160;korumalı]</a></p>
          </div>
          <div class="login-btn pull-right">
            <a href="login.html"><i class="fa fa-user-plus"></i> Kayıt Ol</a>
            <a href="login.html"><i class="fa fa-unlock-alt"></i> Giriş Yap</a>
          </div>
        </div>
      </div>
    </header>
    <!-- Üst Bilgi Sonu -->

    <!-- Navigasyon Çubuğu -->
    <div class="navigation">
      <div class="container">
        <div class="navigation-content">
          <div class="header_menu">
            <!-- Navbar (Üst Bilgi) Başlangıcı -->
            <nav class="navbar navbar-default navbar-sticky-function navbar-arrow">
              <div class="logo pull-left">
                <a href="index.html"><img alt="Resim" src="" /></a>
              </div>
              <div id="navbar" class="navbar-nav-wrapper">
                <ul class="nav navbar-nav" id="responsive-menu">
                  <li>
                    <a href="index.html">Ana Sayfa <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li>
                        <a href="#">Seyahat</a>
                        <ul>
                          <li><a href="index.html">Ana Sayfa Slider</a></li>
                          <li><a href="index-banner.html">Ana Sayfa Banner</a></li>
                          <li><a href="index-video.html">Ana Sayfa Video</a></li>
                        </ul>
                      </li>
                      <li><a href="index-1.html">Seyahat Stili 2</a></li>
                      <li><a href="index-2.html">Seyahat Stili 3</a></li>
                      <li><a href="index-3.html">Seyahat Stili 4</a></li>
                      <li><a href="index-5.html">Seyahat Stili 5 <span class="fw-bold pink">(Yeni)</span></a></li>
                      <li><a href="index-6.html">Seyahat Stili 6 <span class="fw-bold pink">(Yeni)</span></a></li>
                      <li><a href="index-4.html">Seyahat Arama</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Sayfalar <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li>
                        <a href="#">Destinasyon</a>
                        <ul>
                          <li>
                            <a href="#">Izgara Görünümü</a>
                            <ul>
                              <li><a href="destination-2col.html">2 Sütunlu Izgara</a></li>
                              <li><a href="destination-3col.html">3 Sütunlu Izgara</a></li>
                              <li><a href="destination-4col.html">4 Sütunlu Izgara</a></li>
                              <li><a href="destination-sidebar.html">Kenar Çubuklu Izgara</a></li>
                            </ul>
                          </li>
                          <li>
                            <a href="#">Liste Görünümü</a>
                            <ul>
                              <li><a href="destination-fullwidth.html">Kenar Çubuksuz Liste</a></li>
                              <li><a href="destination-list-sidebar.html">Kenar Çubuklu Liste</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="tour-detail.html">Varsayılan Detay</a>
                        <ul>
                          <li><a href="tour-detail.html">Varsayılan Detay</a></li>
                          <li><a href="detail-tabs.html">Sekmeli Detay</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="booking.html">Rezervasyon & Ödeme</a>
                        <ul>
                          <li><a href="booking.html">Rezervasyon Sayfası</a></li>
                          <li><a href="booking-confirmation.html">Rezervasyon Onayı</a></li>
                          <li><a href="payment.html">Ödeme Sayfası</a></li>
                        </ul>
                      </li>
                      <li><a href="price-list.html">Fiyat Listesi</a></li>
                      <li><a href="error.html">Hata Sayfası</a></li>
                      <li><a href="aboutus.html">Hakkımızda</a></li>
                      <li><a href="contactus.html">İletişim</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="hotel.html">Otel <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="hotel.html">Otel Ana Sayfası</a></li>
                      <li><a href="grid-view.html">Izgara Görünümü</a></li>
                      <li><a href="list-view.html">Liste Görünümü</a></li>
                      <li><a href="hotel-detail.html">Detay Sayfası</a></li>
                    </ul>
                  </li>
                  <li class="active">
                    <a href="flight.html">Uçuşlar<i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="flight.html">Uçuş Ana Sayfası</a></li>
                      <li><a href="flight-grid-view.html">Izgara Görünümü</a></li>
                      <li><a href="flight-list-view.html">Liste Görünümü</a></li>
                      <li><a href="flight-detail.html">Detay Sayfası</a></li>
                      <li><a href="flight-booking.html">Rezervasyon</a></li>
                      <li><a href="flight-confirm.html">Teşekkürler</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star"></i> Arabalar<i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="car-grid-view.html">Araba Izgara Görünümü</a></li>
                      <li><a href="car-list-view.html">Araba Liste Görünümü</a></li>
                      <li><a href="car-detail.html">Araba Detay Sayfası</a></li>
                      <li><a href="car-booking.html">Ödeme</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-star"></i> Gemi Seyahati<i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="cruise-grid-view.html">Gemi Izgara Görünümü</a></li>
                      <li><a href="cruise-list-view.html">Gemi Liste Görünümü</a></li>
                      <li><a href="cruise-detail.html">Gemi Detay Sayfası</a></li>
                      <li><a href="cruise-booking.html">Ödeme</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Kontrol Paneli <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="dashboard.html">Kontrol Paneli</a></li>
                      <li><a href="dashboard-my-profile.html">Profilim</a></li>
                      <li><a href="dashboard-booking.html">Rezervasyonlarım</a></li>
                      <li><a href="dashboard-history.html">Geçmiş</a></li>
                      <li><a href="dashboard-list.html">Listem</a></li>
                      <li><a href="dashboard-addtour.html">Tur Ekle</a></li>
                      <li><a href="dashboard-reviews.html">Yorumlar</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Mağaza <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="shop.html">Mağaza Listesi</a></li>
                      <li><a href="shop-detail.html">Mağaza Detayı</a></li>
                      <li><a href="cart.html">Sepet</a></li>
                      <li><a href="checkout.html">Ödeme</a></li>
                      <li><a href="login.html">Giriş Sayfası</a></li>
                      <li><a href="forgot-password.html">Şifremi Unuttum</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">Blog <i class="fa fa-angle-down"></i></a>
                    <ul>
                      <li><a href="blog-list.html">Sağ Kenar Çubuklu Blog</a></li>
                      <li><a href="blog-list-1.html">Sol Kenar Çubuklu Blog</a></li>
                      <li><a href="blog-list-2.html">Tam Genişlikli Blog</a></li>
                      <li><a href="blog-list-3.html">Blog Listesi</a></li>
                      <li><a href="blog-grid.html">Blog Izgarası</a></li>
                      <li><a href="blog-detail.html">Sağ Kenar Çubuklu Blog Detayı</a></li>
                      <li><a href="blog-detail-fw.html">Tam Genişlikli Blog Detayı</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <!--/.nav-collapse -->
              <div id="slicknav-mobile"></div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Navigasyon Çubuğu Sonu -->

    <!-- Breadcrumb -->
    <section class="breadcrumb-outer text-center">
      <div class="container">
        <div class="breadcrumb-content">
          <h2>PARİS'E UCUZ UÇUŞLAR</h2>
          <h4 class="white">Size Özel Uçuş</h4>
          <nav aria-label="breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
              <li class="breadcrumb-item"><a href="#">Uçuş</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detay sayfası</li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="section-overlay"></div>
    </section>
    <!-- BreadCrumb Sonu -->

    <section class="flight-destinations">
      <div class="container">
        <div class="row">
          <div id="content" class="col-lg-8">
            <div class="detail-content content-wrapper">
              <div class="detail-info">
                <div class="detail-info-content clearfix">
                  <h2>PARİS'E UCUZ UÇUŞLAR</h2>
                  <p class="detail-info-price"><span class="bold">659₺</span></p>
                  <div class="deal-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                  </div>
                </div>
              </div>
              <div class="gallery detail-box">
                <!-- Paradise Slider -->
                <div
                  id="in_th_030"
                  class="carousel slide in_th_brdr_img_030 thumb_scroll_x swipe_x ps_easeOutQuint"
                  data-bs-ride="carousel"
                  data-bs-pause="hover"
                  data-bs-interval="4000"
                  data-bs-duration="2000"
                >
                  <!-- Göstergeler -->
                  <ol class="carousel-indicators">
                    <!-- 1. Gösterge -->
                    <li data-bs-target="#in_th_030" data-bs-slide-to="0" class="active">
                      <!-- 1. Gösterge Resmi -->
                      <img src="images/flight/flight1.jpg" alt="in_th_030_01_sm" />
                    </li>
                    <!-- 2. Gösterge -->
                    <li data-bs-target="#in_th_030" data-bs-slide-to="1">
                      <!-- 2. Gösterge Resmi -->
                      <img src="images/flight/flight2.jpg" alt="in_th_030_02_sm" />
                    </li>
                    <!-- 3. Gösterge -->
                    <li data-bs-target="#in_th_030" data-bs-slide-to="2">
                      <!-- 3. Gösterge Resmi -->
                      <img src="images/flight/flight3.jpg" alt="in_th_030_03_sm" />
                    </li>
                    <li data-bs-target="#in_th_030" data-bs-slide-to="3">
                      <!-- 3. Gösterge Resmi -->
                      <img src="images/flight/flight4.jpg" alt="in_th_030_03_sm" />
                    </li>
                  </ol>
                  <!-- /Göstergeler -->
                  <!-- Slaytlar İçin Kapsayıcı -->
                  <div class="carousel-inner" role="listbox">
                    <!-- İlk Slayt -->
                    <div class="carousel-item active">
                      <!-- Slayt Arkaplanı -->
                      <img src="images/flight/flight1.jpg" alt="in_th_030_01" />
                    </div>
                    <!-- Slayt Sonu -->
                    <!-- İkinci Slayt -->
                    <div class="carousel-item">
                      <!-- Slayt Arkaplanı -->
                      <img src="images/flight/flight2.jpg" alt="in_th_030_02" />
                    </div>
                    <!-- Slayt Sonu -->
                    <!-- Üçüncü Slayt -->
                    <div class="carousel-item">
                      <!-- Slayt Arkaplanı -->
                      <img src="images/flight/flight3.jpg" alt="in_th_030_03" />
                    </div>
                    <!-- Slayt Sonu -->
                    <div class="carousel-item">
                      <!-- Slayt Arkaplanı -->
                      <img src="images/flight/flight4.jpg" alt="in_th_030_03" />
                    </div>
                  </div>
                  <!-- Slaytlar İçin Kapsayıcı Sonu -->
                </div>
                <!-- Paradise Slider Sonu -->
              </div>
              <div class="description detail-box">
                <div class="detail-title">
                  <h3>Açıklama</h3>
                </div>
                <div class="description-content">
                  <p>
                    Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus
                    scelerisque metus. Pellentesque ac turpis egestas, varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                  <table>
                    <thead></thead>
                    <tbody>
                      <tr>
                        <td class="title">Kalkış</td>
                        <td><i class="fa fa-map-marker" aria-hidden="true"></i> San Francisco Uluslararası Havalimanı</td>
                      </tr>
                      <tr>
                        <td class="title">Kalkış Zamanı</td>
                        <td><i class="fa fa-clock-o" aria-hidden="true"></i> Lütfen 10:50'deki kalkış için 10:20'de hazır olun</td>
                      </tr>
                      <tr>
                        <td class="title">Maksimum yolcu</td>
                        <td><i class="fa fa-user-o" aria-hidden="true"></i> 23</td>
                      </tr>
                      <tr>
                        <td class="title">Diller</td>
                        <td><i class="fa fa-file-audio-o" aria-hidden="true"></i> İngilizce, Tayca, Malayca</td>
                      </tr>
                      <tr>
                        <td class="title">Dahil Olanlar</td>
                        <td>
                          <ul>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Uçak bileti</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Ulaşım</li>
                            <li><i class="fa fa-check" aria-hidden="true"></i> Profesyonel Rehber</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td class="title">Dahil Olmayanlar</td>
                        <td class="excludes">
                          <ul>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Havalimanı Vergileri</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Giriş Ücretleri</li>
                            <li><i class="fa fa-times" aria-hidden="true"></i> Sigorta</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h4>İLANIM DEAKTİF EDİLDİ</h4>
                  <p>
                    Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus
                    scelerisque metus. Pellentesque varius justo et, condimentum augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
              <div class="comments detail-box">
                <div class="detail-title">
                  <h3>Yorumlar</h3>
                </div>
                <div class="comment-content">
                  <div class="comment-item">
                    <div class="row">
                      <div class="col-lg-3 col-md-4">
                        <div class="comment-image">
                          <img src="images/comment.jpg" alt="Resimler" />
                          <h4><a href="#">Peter Parker</a></h4>
                          <span class="comment-date">(18 Aralık 2018)</span>
                          <a class="btn-blue btn-red" href="#">Yanıtla</a>
                        </div>
                      </div>
                      <div class="col-lg-9 col-md-8">
                        <div class="comment-desc">
                          <span class="travel-date"> Seyahat Tarihi : 25 Mart 2018</span>
                          <div class="deal-rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                          </div>
                          <p>
                            Ana Kampa yürüyüş, aklimatizasyon için yeterli zaman ayırarak ve seferimiz sırasında giderek daha önemli hale gelecek olan Şerpa aileleri ve destek tesislerini ziyaret ederek. Çoğu yürüyüşçünün önünde Namche'de birkaç gün geçireceğiz ve Tengboche ve Pangboche'deki manastırları ziyaret edeceğiz.
                          </p>
                        </div>
                        <div class="comment-item comment-reply">
                          <div class="row">
                            <div class="col-lg-3 col-md-4">
                              <div class="comment-image">
                                <img src="images/comment.jpg" alt="Resimler" />
                                <h4><a href="#">Peter Parker</a></h4>
                                <span class="comment-date">(18 Aralık 2018)</span>
                                <a class="btn-blue btn-red" href="#">Yanıtla</a>
                              </div>
                            </div>
                            <div class="col-lg-9 col-md-8">
                              <div class="comment-desc">
                                <span class="travel-date"> Seyahat Tarihi : 25 Mart 2018</span>
                                <div class="deal-rating">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                </div>
                                <p>
                                  Ana Kampa yürüyüş, aklimatizasyon için yeterli zaman ayırarak ve seferimiz sırasında giderek daha önemli hale gelecek olan Şerpa aileleri ve destek tesislerini ziyaret ederek. Çoğu yürüyüşçünün önünde Namche'de birkaç gün geçireceğiz ve Tengboche ve Pangboche'deki manastırları ziyaret edeceğiz.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comments-form detail-box">
                <div class="detail-title">
                  <h3>Yorum Ekle</h3>
                </div>
                <form>
                  <div class="row">
                    <div class="textarea form-group mb-3 col-lg-12">
                      <label for="Name">Yorumunuz:</label>
                      <textarea></textarea>
                    </div>
                    <div class="form-group mb-3 col-lg-6 col-md-6">
                      <label for="Name">İsim:</label>
                      <input type="email" class="form-control" id="Name" />
                    </div>
                    <div class="form-group mb-3 col-lg-6 col-md-6">
                      <label for="email">E-posta adresi:</label>
                      <input type="email" class="form-control" id="email" />
                    </div>
                    <div class="form-group mb-3 col-lg-12">
                      <label for="website">Website:</label>
                      <input type="email" class="form-control" id="website" />
                    </div>
                    <div class="col-lg-12">
                      <div class="comment-btn">
                        <a href="#" class="btn-blue btn-red">Yorumu Gönder</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="sidebar" class="col-lg-4">
            <aside class="detail-sidebar sidebar-wrapper">
              <div class="sidebar-item sidebar-item-dark">
                <div class="detail-title">
                  <h3>Uçuşlar</h3>
                </div>
                <form>
                  <div class="row">
                    <div class="form-group mb-3 col-lg-12">
                      <input type="text" class="form-control" id="depart" placeholder="Nereden" />
                    </div>
                    <div class="form-group mb-3 col-lg-12">
                      <input type="text" class="form-control" id="return" placeholder="Nereye" />
                    </div>
                    <div class="form-group mb-3 col-lg-6 col-md-4">
                      <div class="input-group date" id="datetimepicker1">
                        <input type="text" class="form-control" value="Dönüş Tarihi" />

                        <span class="input-group-addon">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                    <div class="form-group mb-3 col-lg-6 col-md-4">
                      <div class="input-group date" id="datetimepicker2">
                        <input type="text" class="form-control" value="Dönüş Tarihi" />

                        <span class="input-group-addon">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                      </div>
                    </div>
                    <div class="form-group mb-3 col-lg-6 col-md-4">
                      <select class="wide">
                        <option value="0">Yetişkin</option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                      </select>
                    </div>
                    <div class="form-group mb-3 col-lg-6 col-md-4">
                      <select class="wide">
                        <option value="0">Çocuk</option>
                        <option value="1">0</option>
                        <option value="2">1</option>
                        <option value="3">2</option>
                        <option value="4">3</option>
                        <option value="5">4</option>
                      </select>
                    </div>
                    <div class="col-lg-12">
                      <div class="comment-btn">
                        <a href="#" class="btn-blue btn-red">Şimdi Ara</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="sidebar-item">
                <div class="detail-title">
                  <h3>Popüler Uçuşlar</h3>
                </div>
                <div class="sidebar-content sidebar-slider">
                  <div class="sidebar-package">
                    <div class="sidebar-package-image">
                      <img src="images/flight/plane1.jpg" alt="Resimler" />
                    </div>
                    <div class="destination-content">
                      <h6>TEK YÖN UÇUŞLAR</h6>
                      <h3><a href="tour-detail.html">PARİS'E UYGUN UÇUŞLAR</a></h3>
                      <p class="package-days">ŞİMDİ REZERVASYON YAP VE <span>%30 İNDİRİM KAZAN</span></p>
                      <div class="deal-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </div>
                      <div class="tour-price">
                        <span class="tour-tail">₺1,200</span>
                        <span class="tour-head">Kişi Başı</span>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-package">
                    <div class="sidebar-package-image">
                      <img src="images/flight/plane2.jpg" alt="Resimler" />
                    </div>
                    <div class="destination-content">
                      <h6>TEK YÖN UÇUŞLAR</h6>
                      <h3><a href="tour-detail.html">MONAKO'YA UÇUŞLAR</a></h3>
                      <p class="package-days">ŞİMDİ REZERVASYON YAP VE <span>%30 İNDİRİM KAZAN</span></p>
                      <div class="deal-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </div>
                      <div class="tour-price">
                        <span class="tour-tail">₺800</span>
                        <span class="tour-head">Kişi Başı</span>
                      </div>
                    </div>
                  </div>
                  <div class="sidebar-package">
                    <div class="sidebar-package-image">
                      <img src="images/flight/plane3.jpg" alt="Resimler" />
                    </div>
                    <div class="destination-content">
                      <h6>TEK YÖN UÇUŞLAR</h6>
                      <h3><a href="tour-detail.html">LONDRA'YA UYGUN UÇUŞLAR</a></h3>
                      <p class="package-days">ŞİMDİ REZERVASYON YAP VE <span>%30 İNDİRİM KAZAN</span></p>
                      <div class="deal-rating">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </div>
                      <div class="tour-price">
                        <span class="tour-tail">₺1,500</span>
                        <span class="tour-head">Kişi Başı</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar-item sidebar-helpline">
                <div class="sidebar-helpline-content">
                  <h3>Sorularınız mı var?</h3>
                  <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sedpr do eiusmod tempor incididunt ut.</p>
                  <p><i class="flaticon-phone-call"></i> (012)-345-6789</p>
                  <p><i class="flaticon-mail"></i> <a href="../../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="cdb9a2b8bfa3b9bfacbba8a18db9a8beb9a0aca4a1e3aea2a0">[email&#160;korumalı]</a></p>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>

    <!-- Alt Bilgi -->
    <footer>
      <div class="footer-upper">
        <div class="container">
          <div class="footer-links">
            <div class="row">
              <div class="col-lg-3">
                <div class="footer-about footer-margin">
                  <div class="about-logo">
                    <img src="images/Yatra-white.png" alt="Resim" />
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                  <div class="about-location">
                    <ul>
                      <li><i class="flaticon-maps-and-flags" aria-hidden="true"></i> Konum</li>
                      <li><i class="flaticon-phone-call"></i> (012)-345-6789</li>
                      <li><i class="flaticon-mail"></i> <a href="../../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="8efae1fbfce0fafceff8ebe2cefaebfdfae3efe7e2a0ede1e3">[email&#160;korumalı]</a></li>
                    </ul>
                  </div>
                  <div class="footer-social-links">
                    <ul>
                      <li class="social-icon">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                      </li>
                      <li class="social-icon">
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                      </li>
                      <li class="social-icon">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                      </li>
                      <li class="social-icon">
                        <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                      </li>
                      <li class="social-icon">
                        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="footer-links-list footer-margin">
                  <h3>Turları İncele</h3>
                  <ul>
                    <li>
                      <a href="#">Kiklad Adaları <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#">Kuzey İyon <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#">Sporad Adaları <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#">Tüm Destinasyonları Görüntüle <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#">Tüm Yatları Görüntüle <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                    <li>
                      <a href="#">Tüm Kruvaziyeleri Görüntüle <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="footer-recent-post footer-margin">
                  <h3>Son Gönderiler</h3>
                  <ul>
                    <li>
                      <div class="recent-post-item">
                        <div class="recent-post-image">
                          <img src="images/bucket1.jpg" alt="Resim" />
                        </div>
                        <div class="recent-post-content">
                          <h4><a href="#">Cennete bir yolculuk</a></h4>
                          <p>17 Haziran 2018</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="recent-post-item">
                        <div class="recent-post-image">
                          <img src="images/bucket2.jpg" alt="Resim" />
                        </div>
                        <div class="recent-post-content">
                          <h4><a href="#">Atlantik'te Dalış</a></h4>
                          <p>17 Haziran 2018</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="recent-post-item">
                        <div class="recent-post-image">
                          <img src="images/bucket3.jpg" alt="Resim" />
                        </div>
                        <div class="recent-post-content">
                          <h4><a href="#">Gezginlerin Tarihi</a></h4>
                          <p>17 Haziran 2018</p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-4">
                <div class="footer-links-list">
                  <div class="footer-instagram">
                    <h3>Instagram</h3>
                    <ul>
                      <li><img src="images/insta1.jpg" alt="Resim" /></li>
                      <li><img src="images/insta2.jpg" alt="Resim" /></li>
                      <li><img src="images/insta3.jpg" alt="Resim" /></li>
                      <li><img src="images/insta4.jpg" alt="Resim" /></li>
                      <li><img src="images/insta5.jpg" alt="Resim" /></li>
                      <li><img src="images/insta6.jpg" alt="Resim" /></li>
                      <li><img src="images/insta7.jpg" alt="Resim" /></li>
                      <li><img src="images/insta8.jpg" alt="Resim" /></li>
                      <li><img src="images/insta9.jpg" alt="Resim" /></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="copyright-content">
                <p>
                  2018 <i class="fa fa-copyright" aria-hidden="true"></i> Yatra by <a href="https://www.cyclonethemes.com" target="_blank">Cyclone Themes</a>
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="payment-content">
                <ul>
                  <li>Kabul Ettiğimiz Ödeme Yöntemleri</li>
                  <li>
                    <img src="images/payment1.png" alt="Resim" />
                  </li>
                  <li>
                    <img src="images/payment2.png" alt="Resim" />
                  </li>
                  <li>
                    <img src="images/payment3.png" alt="Resim" />
                  </li>
                  <li>
                    <img src="images/payment4.png" alt="Resim" />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Alt Bilgi Sonu -->

    <!-- başa dön başlangıç -->
    <div id="back-to-top">
      <a href="#"></a>
    </div>

    <!-- *Scriptler* -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugin.js"></script>
    <script src="js/main.js"></script>
    <script src="js/preloader.js"></script>
  <script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'9177c6f60981fb7f',t:'MTc0MDQ4NzM2Ni4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" data-cf-beacon='{"rayId":"9177c6f60981fb7f","version":"2025.1.0","r":1,"token":"e2e296138d64407b8469055f5cbf0b42","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}}}'></script>
</body>
</html>
