@{
    ViewData["Title"] = "Uçuş";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section">
    <div class="banner-element" data-aos="fade-left" data-aos-duration="1200">
        <img src="~/flynext/assets/images/element/element-21.png" alt="element">
    </div>
    <div class="banner-element-two">
        <img src="~/flynext/assets/images/element/element-3.png" alt="element">
    </div>
    <div class="banner-element-three">
        <img src="~/flynext/assets/images/element/element-4.png" alt="element">
    </div>
    <div class="banner-element-four">
        <img src="~/flynext/assets/images/element/element-5.png" alt="element">
    </div>
    <div class="banner-social-area">
        <ul class="banner-social">
            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center mb-30-none">
            <div class="col-xxl-5 col-xl-6 col-lg-12 mb-30">
                <div class="banner-content" data-aos="fade-right" data-aos-duration="1800">
                    <span class="sub-title"><span>Fly</span>Zone</span>
                    <h1 class="title">Uçuşunuzu Hemen Rezerve Edin</h1>
                    <p>
                        FlyZone Airlines, lüks ve kurumsal özel jet charter hizmetleri için standartları aşıyor ve yeni bir seviyeye taşıyor. Profesyonel bir hizmet sunmaktan gurur duyuyoruz.
                    </p>
                    <div class="banner-btn">
                        <a href="@Url.Action("Flight", "Flight")" class="btn--base">
                            <i class="fas fa-chevron-right mr-2"></i> Uçuşunuzu Planlayın
                        </a>
                        <a href="@Url.Action("ContactUs", "Flight")" class="btn--base active">
                            Teklif İsteyin <i class="icon-Group-2361 ml-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7 col-xl-6 col-lg-6 mb-30">
                <div class="banner-thumb">
                    <img src="~/flynext/assets/images/element/element-2.png" alt="element">
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <i class="las la-dot-circle"></i>
    <span>Üst</span>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Call-widget
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div class="call-widget-wrapper">
    <button type="button" class="call-widget-btn">
        <span class="num">
            <i class="icon-call-icon"></i> +90 (212) 123
            4567
        </span> <span class="arrow"></span>
    </button>
    <div class="call-widget-form-area">
        <form class="book-form">
            <div class="row justify-content-center mb-20-none">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                    <div class="book-select">
                        <label>Nereden</label>
                        <div class="book-form-icon">
                            <i class="icon-from-airplane"></i>
                        </div>
                        <select class="book-select form--control">
                            <option value="istanbul" selected>İstanbul</option>
                            <option value="ankara">Ankara</option>
                            <option value="izmir">İzmir</option>
                            <option value="antalya">Antalya</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                    <div class="book-select">
                        <label>Nereye</label>
                        <div class="book-form-icon">
                            <i class="icon-to-airplane"></i>
                        </div>
                        <select class="book-select form--control">
                            <option value="london" selected>Londra</option>
                            <option value="paris">Paris</option>
                            <option value="newyork">New York</option>
                            <option value="tokyo">Tokyo</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                    <div class="book-select">
                        <label>Tarih</label>
                        <div class="book-form-icon">
                            <i class="icon-schedule-icon"></i>
                        </div>
                        <select class="book-select form--control">
                            <option value="25/12/2023" selected>25/12/2023</option>
                            <option value="30/12/2023">30/12/2023</option>
                            <option value="05/01/2024">05/01/2024</option>
                            <option value="10/01/2024">10/01/2024</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 form-group">
                    <label>Yolcu</label>
                    <div class="book-quantity">
                        <div class="book-plus-minus">
                            <div class="dec qtybutton">-</div>
                            <input class="book-plus-minus-box qty" type="text" name="qty" value="1" readonly>
                            <div class="inc qtybutton">+</div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 form-group">
                    <button type="submit" class="btn--base w-100 mt-10">
                        <i class="icon-btn-icon"></i> Şimdi
                        Rezervasyon Yap
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Call-widget
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
