@{
	ViewData["Title"] = "FrequentlyAskedQuestions";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Start Banner
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="banner-section inner-banner-section bg-overlay-black bg_img"
         data-background="~/flynext/assets/images/bg/inner-bg.png">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-12 text-center">
                <div class="banner-content">
                    <h1 class="title">Sıkça Sorulan Sorular</h1>
                    <div class="breadcrumb-area">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Ana Sayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Sıkça Sorulan Sorular</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Banner
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Start Scroll-To-Top
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<a href="#" class="scrollToTop">
    <i class="las la-dot-circle"></i>
    <span>Üst</span>
</a>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Scroll-To-Top
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="faq-section bg--gray ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Genel Sorular</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. Hangi tip uçaklar mecvuttur?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. Kaç kişiliktirler?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Aynı anda birden fazla uçağınızı kullanabilir miyim?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Özel jetlerinizden biriyle nereye uçabilirim?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Rezervasyonunuzu yönetme</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. Hangi tip uçaklar mevcuttur?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. Kaç kişiliktirler?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3.  Aynı anda birden fazla uçağınızı kullanabilir miyim?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4.  Özel jetlerinizden biriyle nereye uçabilirim?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Start Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="faq-section ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Anlaşmalarınızı Yönetme</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. Hangi tip uçaklar mevcuttur?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. Kaç kişiliktirler?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Aynı anda birden fazla uçağınızı kullanabilir miyim?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Özel jetlerinizden biriyle nereye uçabilirim?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-30">
                <div class="faq-header-area">
                    <h3 class="title">Tur Paketlerinizi Yönetme</h3>
                </div>
                <div class="faq-wrapper">
                    <div class="faq-item active open">
                        <h3 class="faq-title">
                            <span class="title">
                                1. Hangi tip uçaklar mevcuttur?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">2. Kaç kişiliktirler?</span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                3. Aynı anda birden fazla uçağınızı kullanabilir miyim?
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <h3 class="faq-title">
                            <span class="title">
                                4. Özel jetlerinizden biriyle nereye uçabilirim
                            </span><span class="right-icon"></span>
                        </h3>
                        <div class="faq-content">
                            <p>
                                İster küçük, ister orta veya büyük bir grupla uçun, VIP Jets her boyuttaki gruba uygun çok çeşitli uçaklar sunar. VIP Jets 25-Saatlik
                                Kart ile boyut ve yaş sınıfını seçme esnekliğine sahipsiniz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Faq
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Start Contact
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<section class="contact-section bg--gray ptb-120">
    <div class="container">
        <div class="row justify-content-center mb-30-none">
            <div class="col-xl-5 col-lg-5 mb-30">
                <div class="contact-left-content" data-aos="fade-right" data-aos-duration="1200">
                    <span class="sub-title">Bizimle Konuşun</span>
                    <h2 class="title">
                        Herhangi bir sorunuz mu var?
                        İletişime geçmekten çekinmeyin.
                    </h2>
                    <p>
                        Seçebileceğiniz çok sayıda popüler özel uçakla,özel jet kiralama ile seyehat etmek en verimli yoldur.
                    </p>
                    <ul class="contact-social">
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 mb-30">
                <div class="contact-form-inner" data-aos="fade-left" data-aos-duration="1200">
                    <div class="contact-form-area">
                        <form class="contact-form">
                            <div class="row justify-content-center mb-20-none">
                                <div class="col-xl-6 col-lg-6 form-group">
                                    <label class="icon"><i class="icon-name_icone"></i></label>
                                    <input type="text" class="form--control" name="name" placeholder="İsim"
                                           required>
                                </div>
                                <div class="col-xl-6 col-lg-6 form-group">
                                    <label class="icon"><i class="las la-envelope"></i></label>
                                    <input type="email" class="form--control" name="email" placeholder="Email"
                                           required>
                                </div>
                                <div class="col-xl-6 col-lg-6 form-group">
                                    <label class="icon"><i class="icon-call_icone"></i></label>
                                    <input type="number" class="form--control" name="phone" placeholder="Telefon Numaranız"
                                           required>
                                </div>
                                <div class="col-xl-6 col-lg-6 form-group">
                                    <div class="contact-select">
                                        <select class="form--control">
                                            <option value="1">Ders</option>
                                            <option value="2">Ders 1</option>
                                            <option value="3">Ders 2</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="icon"><i class="icon-massage"></i></label>
                                    <textarea class="form--control" placeholder="Mesajınız" required></textarea>
                                </div>
                                <div class="col-lg-12 form-group">
                                    <button type="submit" class="btn--base mt-10">
                                        Mesajı Gönder <i class="icon-Group-2361 ml-2"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Contact
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
