
@{
    ViewData["Title"] = "Girisyap";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<section class="login d-flex justify-content-center align-items-center" style="height: 100vh;">
   <div class="container">
     <div class="row justify-content-center align-items-center">
       <div class="col-lg-6">
         <div class="login-form">
           <form>
             <div class="row">
               <div class="col-lg-12">
                 <div class="form-title">
                   <h2>GİRİŞ YAP</h2>
                   <p><a asp-controller="Flight" asp-action="Kayitol">Hesabın yoksa kayıt ol.</a></p>
                 </div>
               </div>
               <div class="form-group mb-3 col-lg-12">
                 <label>Kullanıcı Adı</label>
                 <input type="email" class="form-control" id="Name1" placeholder="Kullanıcı adı ya da mail adresinizi girin" />
               </div>
               <div class="form-group mb-3 col-lg-12">
                 <label>Şifre</label>
                 <input type="password" class="form-control" id="email1" placeholder="Şifrenizi girin" />
               </div>
               <div class="col-lg-12">
                 <div class="checkbox-outer"><input type="checkbox" name="vehicle2" value="Car" /> Beni Hatırla</div>
               </div>
               <div class="col-lg-12">
                 <div class="comment-btn">
                   <a href="#" class="btn-blue btn-red">Giriş Yap</a>
                 </div>
               </div>
               <div class="col-lg-12">
                 <div class="login-accounts">
                   <a href="forgot-password.html" class="forgotpw">Şifremi Unuttum</a>
                   <h3>Bununla Giriş Yapmak İstiyorum </h3>
                   <div class="login-accounts-btn">
                     <a class="btn-blue" href="https://tr-tr.facebook.com/login/"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                     <a class="btn-blue btn-google" href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Ftakeout.google.com%2F%3Fhl%3Dtr&followup=https%3A%2F%2Ftakeout.google.com%2F%3Fhl%3Dtr&hl=tr&ifkv=ASSHykq3AeYFgZLCM1rV9v4HUGYcrHlnVi8gGHZ6tgrO1tIUS659Yz9rKLIJyUuEBWPSdABwEe4W2A&osid=1&passive=1209600&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S288943357%3A1741359013671427&ddm=1"><i class="fa fa-google" aria-hidden="true"></i> Google</a>
                     <a class="btn-blue btn-twit" href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidHIiLCJteCI6IjIifQ%3D%3D%22%7D"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                   </div>
                 </div>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
</section>
