
@{
    ViewData["Title"] = "UcusDurumu";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}



<style>
    /* Arka plan resmi sadece içeriğe uygulanacak */
    
</style>

<div class="search-container">
    <!-- Üstteki Butonlar -->
    <div class="top-buttons">
        <a asp-controller="Flight" asp-action="Flight" class="button">Uçuş Ara / Bilet Al</a>
        <a asp-controller="Flight" asp-action="CheckinBiletyonetimi" class= "button">Check-in / Bilet Yönetimi</a>
       <a asp-controller="Flight" asp-action="UcusDurumu" class="button selected"> Uçuş Durumu </a>

    </div>

    <!-- Arama Kutusu -->
    <div class="search-box">
        <select>
            <option>Varış</option>
            <option>Kalkış</option>
            <option>Uçuş No</option>
            <option selected>Güzergah</option> <!-- Varsayılan olarak seçili -->
        </select>

        <input type="text" placeholder="Uçuş numarasını girin" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        <input type="date" id="flight-date">

        <button class="search-button" onclick="window.location.href='#'">></button>
    </div>
</div>

<script>
    // Sayfa yüklendiğinde tarih girişine bugünün tarihini koy
    document.getElementById('flight-date').valueAsDate = new Date();
</script>

