
<div class="page-wrapper dark">
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Start Footer
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<footer class="footer-section section--bg pt-120">
    <div class="footer-element" data-aos="fade-left" data-aos-duration="1200">
        <img src="assets/images/element/element-1.png" alt="element">
    </div>
    <div class="container">
        <div class="footer-top-area">
            <div class="row align-items-end mb-30-none">
                <div class="col-xl-4 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a class="site-logo site-title" href="index.html">
                                <img src="assets/images/logo.png"
                                     alt="site-logo">
                            </a>
                        </div>
                        <p>
                            Flynext was founded in 1991 by a group of safety-focused professionals who created
                            The Wingman Standard for rigorously vetting air charter operators.
                        </p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="widget-title">EUROPE</h4>
                        <ul class="footer-list">
                            <li><a href="#0">Europe 45 Gloucester Road</a></li>
                            <li><a href="#0">London DT1M 3BF</a></li>
                            <li><a href="#0">+44 (0)20 3671 5709</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="widget-title">ASIA & PACIFIC</h4>
                        <ul class="footer-list">
                            <li><a href="#0">2473 Red Road Ste 98</a></li>
                            <li><a href="#0">Singapore SG</a></li>
                            <li><a href="#0">+ 1 623 211 6319</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="widget-title">NORTH AMERICA</h4>
                        <ul class="footer-list">
                            <li><a href="#0">Europe 45 Gloucester Road</a></li>
                            <li><a href="#0">London DT1M 3BF</a></li>
                            <li><a href="#0">+44 (0)20 3671 5709</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="row mb-30-none">
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Get started</h4>
                        <ul class="footer-list">
                            <li><a href="#0">Private jet</a></li>
                            <li><a href="#0">Register</a></li>
                            <li><a href="#0">Current Jet Deals</a></li>
                            <li><a href="#0">Flynext mobile app</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">How it works</h4>
                        <ul class="footer-list">
                            <li><a href="#0">How it works</a></li>
                            <li><a href="#0">Ways to fly</a></li>
                            <li><a href="#0">Ways to buy</a></li>
                            <li><a href="#0">Private charter</a></li>
                            <li><a href="#0">Private Jet Cost</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">About us</h4>
                        <ul class="footer-list">
                            <li><a href="#0">About us</a></li>
                            <li><a href="#0">News & press</a></li>
                            <li><a href="#0">Blog</a></li>
                            <li><a href="#0">FAQs</a></li>
                            <li><a href="#0">Careers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <h4 class="title">Newsletter</h4>
                        <p>Flynext was founded in 1991 by a group of safety-focused professionals erators.</p>
                        <form class="subscribe-form">
                            <label class="subscribe-icon"><i class="las la-envelope"></i></label>
                            <input type="email" class="form--control" placeholder="Enter Email">
                            <button type="submit" class="btn--base">
                                Subscribe Us <i class="icon-btn-icon ml-1"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="social-area">
                <ul class="footer-social">
                    <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#0" class="active"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#0"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <p>© 2022 Fly Next Airlines. All rights reserved.</p>
        </div>
    </div>
</footer>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</div>


<!-- jquery -->
<script src="~/flynext/assets/js/jquery.js"></script>
<!-- bootstrap js -->
<script src="~/flynext/assets/js/bootstrap.min.js"></script>
<!-- swipper js -->
<script src="~/flynext/assets/js/swiper.min.js"></script>
<!-- lightcase js-->
<script src="~/flynext/assets/js/lightcase.js"></script>
<!-- odometer js -->
<script src="~/flynext/assets/js/odometer.min.js"></script>
<!-- viewport js -->
<script src="~/flynext/assets/js/viewport.jquery.js"></script>
<!-- progress js -->
<script src="~/flynext/assets/js/circle-progress.min.js"></script>
<!-- aos js file -->
<script src="~/flynext/assets/js/aos.js"></script>
<!-- nice select js -->
<script src="~/flynext/assets/js/jquery.nice-select.js"></script>
<!-- main -->
<script src="~/flynext/assets/js/main.js"></script>
