<div class="page-wrapper dark">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Start Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<header class="header-section header-section-one">
    <div class="header">
        <div class="header-bottom-area">
            <div class="container-fluid">
                <div class="header-menu-content">
                    <nav class="navbar navbar-expand-lg p-0">
                        <a class="site-logo site-title" href="index.html">
                            <img src="~/flynext/assets/images/logo.png"
                                 alt="site-logo">
                        </a>
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fas fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ml-auto">
                                <li class="menu_has_children">
                                    <a href="#0">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index-two.html">Home Two</a></li>
                                        <li><a href="index-dark.html">Home Dark</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About Us</a></li>
                                <li class="menu_has_children">
                                    <a href="#0">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="service.html">Service</a></li>
                                        <li><a href="service-details.html">Service Details</a></li>
                                        <li><a href="deals.html">Deals</a></li>
                                        <li><a href="deals-details.html">Deals Details</a></li>
                                        <li><a href="package.html">Package</a></li>
                                        <li><a href="package-details.html">Package Details</a></li>
                                        <li><a href="course.html">Our Course</a></li>
                                        <li><a href="course-details.html">Course Details</a></li>
                                        <li><a href="team.html">Our Team</a></li>
                                        <li><a href="team-details.html">Team Details</a></li>
                                        <li><a href="faq.html">FAQ</a></li>
                                        <li><a href="register.html">Sign Up</a></li>
                                        <li><a href="login.html">Sign In</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu_has_children">
                                    <a href="#0">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-classic.html">Blog Classic</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                            <div class="header-right">
                                <div class="search-bar d-none d-lg-block">
                                    <a href="#0"><i class="fas fa-search"></i></a>
                                    <div class="header-top-search-area">
                                        <form class="header-search-form"
                                              action="https://gamblingscript.com/search" method="GET">
                                            <input type="search" name="keyword" id="header_search"
                                                   placeholder="Search Product...">
                                            <button class="header-search-btn">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-action-area">
                                    <a href="service-details.html" class="action-btn two">
                                        <i class="icon-btn-icon"></i>
                                    </a>
                                    <div class="header-action">
                                        <a href="service-details.html" class="btn--base">
                                            <i class="icon-btn-icon"></i> Book Now
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</div>