<div class="page-wrapper dark">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Start Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<header class="header-section header-section-one">
    <div class="header">
        <div class="header-bottom-area">
            <div class="container-fluid">
                <div class="header-menu-content">
                    <nav class="navbar navbar-expand-lg p-0">
                        <a class="site-logo site-title" asp-controller="Flight" asp-action="Flight">
                            <img src="~/flynext/assets/images/logo.png"
                                 alt="site-logo">
                        </a>
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fas fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ml-auto">
                                <li class="menu_has_children">
                                    <a asp-controller="Flight" asp-action="Flight">Anasayfa</a>

                                </li>
                               <li class="menu_has_children">
                                    <a href="#0">Bilet Al ve Yönet</a>
                                    <ul class="sub-menu">
                                        <li><a asp-controller="Flight" asp-action="Flight">Uçak Bileti</a></li>
                                        <li><a asp-controller="Flight" asp-action="CheckinBiletyonetimi">Bilet Yönetimi</a></li>
                                        <li><a asp-controller="Flight" asp-action="CheckinBiletyonetimi">Check-in</a></li>
                                        <li><a asp-controller="Flight" asp-action="BusinessClass">Uçuş Durumu</a></li>
                                        <li><a asp-controller="Flight" asp-action="seatselection">Koltuk Seçimi</a></li>
                                        <li><a asp-controller="Flight" asp-action="ExtraBaggage">Ekstra Bagaj</a></li>

                                    </ul>
                                </li>
                                 <li class="menu_has_children">
                                    <a href="#0">Seyehat Deneyimi</a>
                                    <ul class="sub-menu">
                                        <li> <a asp-controller="Flight" asp-action="BusinessClass">Business Class</a></li>
                                        <li><a asp-controller="Flight" asp-action="EconomyClass">Economy Class</a></li>
                                        <li> <a asp-controller="Flight" asp-action="InflightEntertainment">Uçak İçi Eğlence</a></li>
                                        <li><a asp-controller="Flight" asp-action="InFlightCatering">Uçak İçi İkram</a></li>                 
                                    </ul>
                                </li>
                                <li class="menu_has_children">
                                    <a href="#0">Fırsatlar</a>
                                    <ul class="sub-menu">
                                        <li><a asp-controller="Flight" asp-action="FlightDetails">Uçuş Fırsatları</a></li>
                                        <li><a asp-controller="Flight" asp-action="BusinessClass">Kampanyalar</a></li>
                                        <li><a asp-controller="Flight" asp-action="StudentDiscount">Öğrenci İndirimi</a></li>
                                    </ul>
                                </li>
                                 <li class="menu_has_children">
                                    <a href="#0">Yardım</a>
                                    <ul class="sub-menu">
                                        <li><a asp-controller="Flight" asp-action="HelpCenter">Yardım Merkezi</a></li>
                                        <li><a asp-controller="Flight" asp-action="Feedback">Geri Bildirim</a></li>
                                        <li><a asp-controller="Flight" asp-action="ContactUs">Bize Ulaşın</a></li>
                                        <li><a asp-controller="Flight" asp-action="Announcements">Duyurular</a></li>
                                        <li><a asp-controller="Flight" asp-action="FrequentlyAskedQuestions">Sıkça Sorulan Sorular</a></li>
                                    </ul>
                                </li>
                                <li><<a asp-controller="Flight" asp-action="Kayitol" >Kayıt Ol</a></li>
                            </ul>
                            <div class="header-right">
                                <div class="search-bar d-none d-lg-block">
                                    <a href="#0"><i class="fas fa-search"></i></a>
                                    <div class="header-top-search-area">
                                        <form class="header-search-form"
                                              action="https://gamblingscript.com/search" method="GET">
                                            <input type="search" name="keyword" id="header_search"
                                                   placeholder="Search Product...">
                                            <button class="header-search-btn">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-action-area">
                                    <a href="service-details.html" class="action-btn two">
                                        <i class="icon-btn-icon"></i>
                                    </a>
                                    <div class="header-action">
                                      <a asp-controller="Flight" asp-action="Girisyap" class="btn--base">
                                            <i class="icon-btn-icon"></i> Giriş Yap
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</div>