

<!-- Header -->
<header>
	<div class="upper-head clearfix">
		<div class="container">
			<div class="contact-info">
				<p><i class="flaticon-phone-call"></i> Telefon: +90 (555) 515 1515</p>
				<p><i class="flaticon-mail"></i> E-Posta: <a href="../../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="67130812150913150611020b27130214130a060e0b4904080a">email@gmail.com</a></p>
			</div>
			
		</div>
	</div>
</header>
<!-- Header Ends -->

<!-- Navigation Bar -->
<div class="navigation" style="margin:0px 0px 0px 0px">
	<div class="container">
		<div class="navigation-content">
			<div class="header_menu">
				<!-- start Navbar (Header) -->
				<nav class="navbar navbar-default navbar-sticky-function navbar-arrow">
					<div class="logo pull-left">
	       <a asp-controller="Flight" asp-action="Flight">
		   <img alt="Logo" style="width:auto; height:90px;" src="~/yatra/images/FlyZone_Logo.png" />
	      </a>
		  </div>
					<div id="navbar" class="navbar-nav-wrapper ms-auto">

						<ul class="nav navbar-nav" id="responsive-menu">
							<li class="active">
								<a asp-controller="Flight" asp-action="Flight">BİLET AL VE YÖNET <i class="fa fa-angle-down"></i></a>
								<ul>
									<li>
										<a href="#">BİLET AL</a>
										<ul>
											<li><a asp-controller="Flight" asp-action="Flight">Uçak Bileti</a></li>
											
										</ul>
									</li>
									<li>
										<a href="#">BİLET YÖNETİMİ</a>
										<ul>
											<li><a asp-controller="Flight" asp-action="CheckinBiletyonetimi">Bilet Yönetimi</a></li>
											<li><a asp-controller="Flight" asp-action="CheckinBiletyonetimi">Check-in</a></li>
											<li><a asp-controller="Flight" asp-action="UcusDurumu">Uçuş Durumu</a></li>
											
										</ul>
									</li>
									<li>
										<a href="#">EK HİZMETLER</a>
										<ul>
											<li><a href="~/yatra/index.html">Koltuk Seçimi</a></li>
											<li><a href="~/yatra/index.html">Ekstra Bagaj</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">SEYEHAT DENEYİMİ <i class="fa fa-angle-down"></i></a>
								<ul>
								
									<li>
										<a href="wwwroot/yatra/booking.html">KABİN SINIFLARI</a>
										<ul>
											<li><a asp-controller="Flight" asp-action="BusinessClass">Business Class</a></li>
											<li><a href="wwwroot/yatra/booking-confirmation.html">Economy Class</a></li>										</ul>
									</li>
									<li>
										<a href="wwwroot/yatra/booking.html">UÇUŞ DENEYİMİ</a>
										<ul>
											<li><a href="wwwroot/yatra/booking.html">Uçak İçi İkram</a></li>
											<li><a href="wwwroot/yatra/booking-confirmation.html">Uçak İçi Eğlence</a></li>
											<li><a href="wwwroot/yatra/payment.html">Filo</a></li>
										</ul>
									</li>
									<li>
										<a href="wwwroot/yatra/booking.html">DAHA FAZLA AYRICALIK</a>
										<ul>
											<li><a href="wwwroot/yatra/booking.html">Sıkça Sorulan Sorular</a></li>
											<li><a href="wwwroot/yatra/booking-confirmation.html">Rehber Videoları</a></li>
											<li><a href="wwwroot/yatra/payment.html">Ulaşım Bilgileri</a></li>
											<li><a href="wwwroot/yatra/payment.html">Biniş Kartı Ayrıcalıkları</a></li>
										</ul>
									</li>
								</ul>
							</li>
							
							<li>
								<a href="hotel.html">FIRSATLAR <i class="fa fa-angle-down"></i></a>
								<ul>
									<li><a href="wwwroot/yatra/hotel.html">Uçuş Fırsatları</a></li>
									<li><a href="wwwroot/yatra/grid-view.html"> Kampanyalar</a></li>
									<li><a href="wwwroot/yatra/list-view.html"> Öğrenci İndirimi</a></li>
								</ul>
							</li>
							<li>
								<a href="flight.html">YARDIM<i class="fa fa-angle-down"></i></a>
								<ul>
									<li><a href="wwwroot/yatra/flight.html">Yardım Merkezi</a></li>
									<li><a href="wwwroot/yatra/flight-grid-view.html">Geri Bildirim</a></li>
									<li><a href="wwwroot/yatra/flight-list-view.html">Bize Ulaşın</a></li>
									<li><a href="wwwroot/yatra/flight-detail.html">Duyurular</a></li>
								
								</ul>
							</li>
							<li>	<a asp-controller="Flight" asp-action="Kayitol"><i class="fa fa-user-plus"></i> Kayıt Ol</a></li>
							<li><a asp-controller="Flight" asp-action="Girisyap"><i class="fa fa-unlock-alt"></i> Giriş Yap</a>
						</ul>
					</div>
					<!--/.nav-collapse -->
					<div id="slicknav-mobile"></div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Navigation Bar Ends -->