@model List<TestViewModel>

@{
	ViewData["Title"] = "Admin Test";
	Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container py-5">
	<div class="card">
		<div class="card-header bg-success text-white">
			<h3>Kadın verilerinin çekilmesi</h3>
		</div>
		

			<table class="table">
				<thead>
					<tr>
						<th>Adı Soyadı</th>
						<th>TC NO</th>
						<th>Email</th>
						<th>Doğum tarihi</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.Name_Surname</td>
							<td>@item.TcNo_PasaportNo</td>
							<td>@item.Email</td>
							<td>@item.Birth_Time</td>
						</tr>
					}
				</tbody>
			</table>

		
		</div>
	</div>
