
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


<!-- Breadcrumb -->
<section class="breadcrumb-outer text-center">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Ödeme Sayfası</h2>
            <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Flight" asp-action="Flight">Ana Sayfa</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Flight" asp-action="FlightDetails">Seyahatler</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ödeme</li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="section-overlay"></div>
</section>
<!-- BreadCrumb Ends -->


<section class="booking payment">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="booking-form booking-outer">
                    <div class="payment-info detail">
                        <div class="row">
                            <div class="col-lg-12"><h3>Bahamas Seyahati</h3></div>
                            <div class="col-lg-5">
                                <img src="~/yatra/images/destination-fw1.jpg" alt="Images" />
                            </div>
                            <div class="col-lg-7">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="title">Toplam Ücret</td>
                                            <td class="b-id">569$</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Toplam Kişi Sayısı</td>
                                            <td>5</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Kalkış Tarihi</td>
                                            <td>13 Ağustos 2019</td>
                                        </tr>
                                        <tr>
                                            <td class="title">Varış Tarihi</td>
                                            <td>13 Ağustos 2019</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <div class="form-group mb-3 col-lg-12">
                                <label>Kart Bilgileri:</label>
                                <input type="text" class="form-control" id="Name" placeholder="Ad Soyad Giriniz" />
                            </div>
                            <div class="form-group mb-3 col-lg-6 col-md-6">
                                <label>Kart Numarası:</label>
                                <input type="text" class="form-control" id="email" placeholder="Kart Numarasını Giriniz" />
                            </div>
                            <div class="form-group mb-3 col-lg-6 col-md-6 ps-md-0">
                                <label>CVV:</label>
                                <input type="text" class="form-control" id="phnumber" placeholder="XXXX" />
                            </div>
                            <div class="form-group mb-3 col-lg-6 col-md-6">
                                <label>Son Kullanma Tarihi:</label>
                                <input type="date" class="form-control" id="date" />
                            </div>
                            <div class="form-group mb-3 col-lg-6 col-md-6 ps-md-0">
                                <label>Kart Türü:</label>
                                <select class="wide">
                                    <option value="male">MasterCard</option>
                                    <option value="other">Visa</option>
                                </select>
                            </div>
                            <div class="col-lg-12">
                                <div class="comment-btn">
                                    <a href="#" class="btn-blue btn-red">Ödeme Yap</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="sidebar-sticky" class="col-lg-4">
                <aside class="detail-sidebar sidebar-wrapper">
                    <div class="sidebar-item">
                        <div class="detail-title">
                            <h3>Popüler Paketler</h3>
                        </div>
                        <div class="sidebar-content sidebar-slider">
                            <div class="sidebar-package">
                                <div class="sidebar-package-image">
                                    <img src="~/yatra/images/detailslider1.jpg" alt="Images" />
                                </div>
                                <div class="destination-content sidebar-package-content">
                                    <h4><a href="tour-detail.html">Royal Caribbean Seyahati</a></h4>
                                    <div class="deal-rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                    </div>
                                    <p><i class="flaticon-time"></i> 5 Gün Başlayan Fiyatlarla <span class="bold">$659</span></p>
                                    <a href="#" class="btn-blue btn-red">Şimdi Göz At</a>
                                </div>
                            </div>
                            <div class="sidebar-package">
                                <div class="sidebar-package-image">
                                    <img src="~/yatra/images/detailslider2.jpg" alt="Images" />
                                </div>
                                <div class="destination-content sidebar-package-content">
                                    <h4><a href="tour-detail.html">Bahamas Royal Seyahati</a></h4>
                                    <div class="deal-rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                    </div>
                                    <p><i class="flaticon-time"></i> 5 Gün Başlayan Fiyatlarla <span class="bold">$659</span></p>
                                    <a href="#" class="btn-blue btn-red">Şimdi Göz At</a>
                                </div>
                            </div>
                            <div class="sidebar-package">
                                <div class="sidebar-package-image">
                                    <img src="~/yatra/images/detailslider3.jpg" alt="Images" />
                                </div>
                                <div class="destination-content sidebar-package-content">
                                    <h4><a href="tour-detail.html">Royal Caribbean Seyahati</a></h4>
                                    <div class="deal-rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-o"></span>
                                        <span class="fa fa-star-o"></span>
                                    </div>
                                    <p><i class="flaticon-time"></i> 5 Gün Başlayan Fiyatlarla <span class="bold">$659</span></p>
                                    <a href="#" class="btn-blue btn-red">Şimdi Göz At</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item sidebar-helpline">
                        <div class="sidebar-helpline-content">
                            <h3>Yardıma Mı İhtiyacınız Var?</h3>
                            <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit, sedpr do eiusmod tempor incididunt ut.</p>
                            <p><i class="flaticon-phone-call"></i> (555) 515 1515</p>
                            <p><i class="flaticon-mail"></i> <a href="../../cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="02766d77706c76706374676e42766771766f636b6e2c616d6f">[email@gmail.com]</a></p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
